body{
  background-color:#2914c1;
}

h1{
  border-left-style: solid;
  border-color: white;
  border-width: 20px;
  padding-left: 3%;
  /*border-left: 10px;*/
  font-family: 'Cambria', Cochin, Georgia, Times, Times New Roman, serif;
  text-decoration:dotted;
  font-size:58px;
  color: aqua;
  text-decoration:dotted;
}

#cby{
  
  /*border-left-style: solid;
  border-color: white;
  border-width: 5px;*/
  padding-left: 10px;
  font-size: 20px;
  background-color: #01c0ff;
}

p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /*font-style:oblique;*/
  font-size: 25;
}

#text{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  /*border-style: solid;*/
}

#p1{margin: auto;
  padding-left: 15px;
  border-style:double;
  border-radius: 10px;
  border-width:10px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-color:#27476c;
  background-color:#51a2ff;
}