body{
  background-color:darkblue;
  color:aqua;
}

h1{
  border-left-style: solid;
  border-color: white;
  border-width: 20px;
  padding-left: 3%;
  /**border-left: 10px;**/
}

h1{
  font-family: 'Cambria', Cochin, Georgia, Times, Times New Roman, serif;
  text-decoration:dotted;
  font-size:58px;
  color: aqua;
  text-decoration:dotted;
}

h6{
  border-left-style: solid;
  border-color: white;
  border-width: 5px;
  padding-left: 10px;
  font-size: 20px;
}

p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /**font-style:oblique;**/
  font-size: 25;
}
.a1{
  color: rgb(44, 148, 44);
}