h1{
    text-align: center;
    margin: 50px auto;
    padding: 0 5px 0 5px ;
    width: fit-content;
    border:1px solid;
    background-color: black;
    color: cyan;
    box-shadow: 0px 0px 5px skyblue,5px 5px 5px blue;
}

#img1{
    border: none ;
    border-radius: 100px 100px 100px 100px ;
/*
    float:left;*/
    width: 300px;
    height: 300px;
    border-image: linear-gradient(to right,white,blue)5 ;
}
/*
p{
    background: linear-gradient(to right,white,cyan,blue);
    background-attachment: fixed;
    margin: 0 0 0 0;
    width: 100%;
    font-size: 25px;
}*/

div{

    text-align: center;/*
    margin: 0 auto;*/
}